<%- include('partials/header') %>

<h3 class="message">متأسفیم!</h3>
<p class="message-description">چنین کاربری وجود ندارد.</p>

<div class="message-cta">
    <a href="/sign-up" class="message-cta">ثبت نام</a>
</div>