<%- include('partials/header') %>

<h3 class="message">راستش..</h3>
<p class="message-description">هنوز ثبت نام نکرده اید.</p>

<div class="message-cta">
    <a href="/sign-up" class="message-cta">ثبت نام</a>
</div>