<%- include('partials/header') %>

<h3 class="message">متأسفیم!</h3>
<p class="message-description">نام کاربری قبلا ثبت شده.</p>

<div class="message-cta">
    <a href="/sign-up" class="message-cta">تلاش دوباره</a>
</div>