<%- include('partials/header') %>

<h3 class="message">عجیبه!</h3>
<p class="message-description">رمز شما صحیح نیست.</p>

<div class="message-cta">
    <a href="/sign-in" class="message-cta">تلاش دوباره</a>
</div>